.header a{
    text-decoration: none;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cart-products-head{
    display: flex;
    justify-content: space-between;
    margin: 50px 10px 30px 0px;
    font-weight: bold;
    background-color: #009a61;
    padding: 15px;
    color: white;

}

.cart-product-pq{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-right: 70px;

}



.order-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 10px;
    border: 2px solid rgb(233, 233, 233);
    padding: 10px;
}



.cart-product-title{
    display: flex;
    font-size: 15px;
    gap: 10px;
    font-weight: bold;
    width: 400px;

    
}
.cart-product-title .product-name{
    float: left;
    color: rgb(79, 79, 79);
    margin-bottom: 7px;
}


.order-product-image img{
    height: 80px;
    width: 90px;
}

.product-delails{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    gap: 90px;
    width: 300px;
}

.product-delails .product-price{
    font-weight: bold;
    color: #00633f;
    margin-left: 80px;
}


.product-order-container{
    display: grid;
    grid-template-columns: 850px 400px;
    margin: 150px 80px 0px 80px;

}

.product-color-size{
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: rgb(146, 146, 146);
}

.order-product-detalis{
    display: flex;
    flex-direction: column;
}


.product-brand{
    font-size: 12px;
    color: rgb(146, 146, 146);
}

.order-product-detalis .delivery-cost{
    font-size: 12px;
    color: #2e7158;
    font-weight: bolder;
    margin-top: 5px;
}

.order-container button{
    border: none;
    background-color: white;
    font-size: 18px;
    margin-bottom: 40px;
    
}

.order-container button:hover{
    color: red;
}

.minus-btn i,
.plus-btn i{
    font-size: 12px;
    color: rgb(146, 146, 146);
    background-color: rgb(232, 232, 232);
    padding: 5px;
}


.order-summary{
    color: #000000;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 20px;
    padding: 10px;
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rgb(232, 232, 232)
    
}

.order-summary h3{
    color: black;
    padding: 5px;
    margin-bottom: 20px;
}

.sub-total, .product-shipping,
.total-items-cost{
    display: flex;
    justify-content: space-between;
}

.total-cost{
    color: #00633f;
    font-weight: bold;
    font-size: 18px;
}

.total-items, .shipping-title{
    font-weight: normal;

}

.voucher-code{
    margin: 10px 0 10px 0;

    
}
.voucher-code input{
    padding: 10px 23px 10px 23px;
    outline: none;
}

.voucher-btn{
    padding: 12px 30px 12px 30px;
    background-color: #00b7ff;
    border: none;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.voucher-btn:hover{
    background-color: #22a5d9;
}

.place-order-btn{
    padding: 15px;
    background-color:#009a61;
    color: white;
    border: none;
    font-weight: bold;
}

.place-order-btn:hover{
    background-color: #00633f;
}

.empty-cart{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.empty-cart p{
    font-size: 20px;
    font-weight: bold;
}
.empty-cart a{
    width: 180px;
    padding: 12px;
    font-size: 15px;
    background-color: #009a61;
    border: none;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;

}

.empty-cart a:hover{
    background-color: #00633f;
}