.cart-banner{
    display: flex;
    flex-direction: row;
    height: 350px;
    gap: 20px;
    margin: 120px 60px 0px 60px;
    position: relative;
    
}


.slide-bar{
    transition: linear 2s;
}
.slide-bar img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  
}

.catagory-bar {
    height: 100%;
    width: 260px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(230, 230, 230);

}

.catagory-list, 
.sub-catagory-list li{
    margin: 10px 2px 0px 15px ;
}

.catagory-list  a{
    text-decoration: none;
    color:#757575;
    font-size: 13px;
}

.catagory-list li:hover{
    background-color: #ebebeb;
    color: red;
}

.catagory-list li{
    list-style: none;
    margin-bottom: 8px;
}
.catagory-list a:hover{
    color: red;
}


.catagory-list i{
    width: 20px;
    margin-right: 1px;
}

.sub-catagory-list{
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0px;
    left: 250px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(230, 230, 230);
    display: none;

}

.catagory-list li:hover .sub-catagory-list{
    display: inline;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 30px 50px;
    background-color: white;
    border-top: 2px solid rgb(224, 224, 224);
}




.just-for-you{
    color: #757575;
    margin-left: 50px; 
}

/* load more navigation button */

.navigation-button{
    margin: 10px 50px 30px 50px;
    text-align: center;
  
}
.navigation-button .seeMore-btn{
    padding: 10px 150px;
    color: #00633f;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #00633f;
}

.seeMore-btn:hover{
    border: 2px solid #00633f;
}


/* Product FlashSell start form here  */ 

.flashsell-container{
    display: grid;
    flex-direction: column;
    gap: 15px;
    margin: 30px 50px;
    
}


.time-container{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    border-bottom: 1px solid black;
}

.time-container p,
.sell-timer div{
    color: #757575;
}

.sell-timer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  
}

.sell-timer p{
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #00633f;
    padding: 4px;
    padding-top: 8px;
    color: white;
}

/* sell-items css */

.sell-items{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 5px;
    background-color: white;
    position: relative;
}

.sell-items::-webkit-scrollbar{
    display: none;
}

.sell-items  .product-item{
    min-width: 16.6%;
    background: whitesmoke;
    position: relative;
    transition: 0.5s;

}

.sell-items .product-price{
    display: flex;
    flex-direction: row;   
    font-size: 15px;
    font-weight:normal;
    color: rgb(139, 133, 133);
    gap: 5px;
}


.sell-items .discount-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 9px;
    color:#00633f;
}

.sell-items .product-price p{
    text-decoration: line-through;
}

.product-price #dis-pertenage {
    color: black;
    font-weight:bold;
    font-size: 16px;
   
}

header{
    position: absolute;
    top: 600px;
}

header p{
    display: flex;
    gap: 1200px;
}

header p span{
    display: flex;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 70px;
    background-color: #7575754e;
    padding-bottom: 20px;
    
}

/* Fashion Top Deals */

.fashion-product-container{
    display: flex;
    margin: 30px 50px;
    gap: 10px;
    border: 2px solid  rgb(224, 224, 224);
    background-color: white;
}

.Fashion-title{
    padding: 5px;
    color: #00633f;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    
}


.fashion-deals-product{
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: white;
    margin-left: 10px;
    height: 580px;
}

.fashion-deals-banner{
    height: 650px;
    width: 600px;
    background-color: rgb(192, 192, 192);
   
}


.fashion-deals-product .product-item{
    border: 1px solid  rgb(224, 224, 224);
    margin: 8px 0 8px 0;
    font-size: 16px;
    width: 200px;
  
}

.fashion-deals-product #dis-pertenage{
    color: #00633f;
    font-weight: bold;
}